@use '../01-settings/' as *;
@use '../02-tools/' as *;

.cookies{
    display: none;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    line-height: 1rem;
    padding: 2rem;
    background-color: $color-accent2;
    z-index: 3;

    &__text {
        width: 70%;
        text-align: justify;
        
        padding: 0.8rem;

        @include medium {
           width: 90%;
           text-align: center;
           font-size: 1.5rem;
           line-height: 1.5rem;

        }
        
    }
    &__close{
        width: 30%;
        position:absolute;
        top: 0.8rem;
        right: 0.5rem;
        padding: 3rem ;
        text-align: right;
       


        @include medium {
            width: 10%;
        }

        & a {
            text-decoration: none;
            color:#fff;
            font-size: 2rem;

            &:hover {
                color:indianred;
            }
        }
    }
}