@use '../01-settings/' as *;
@use '../02-tools/' as *;

.gallery{
    
    &__box{
        width: 120px;
        position: absolute;
        bottom: 20px;
        margin: 0 auto;
        left: 0;
        right: 0;
        display: flex;
    }

    &__point{
        width: 10px;
        height: 10px;
        background-color: $color2;
        margin: 10px;
    }
    &__active{
        background-color: $color1;
    }
}
.site-gallery > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: url('../assets/img/port2.JPG') center/cover;
    animation: slider 50s linear infinite;
    
} 
.site-gallery > div:nth-of-type(2) {
    background-image: url('../assets/img/port5.JPG');
    animation-delay: 10s;
}
 
.site-gallery > div:nth-of-type(3) {
    background-image: url('../assets/img/port_dron2.jpg');
    animation-delay: 20s;
}

.site-gallery > div:nth-of-type(4) {
    background-image: url('../assets/img/port_dron11.jpg');
    animation-delay: 30s;
}
.site-gallery > div:nth-of-type(5) {
    background-image: url('../assets/img/port6.JPG');
    animation-delay: 40s; 
}
