@use '../01-settings/' as *;
@use '../02-tools/' as *;

.heading {
    &--h1 {

        color: $color1;
        font-size: 4rem;
       
        
        @include x-small{
            font-size: 5rem;
        }
        
        @include small{
            font-size: 6rem;
        }
        
        @include medium {
            font-size: 10rem;
        }

        @include large{
            font-size: 14rem;
           
        }
        
        
        

    }
    &--hide{
        color: $color2;
        scale: 0.5;
    }

    

    &--h2 {

        font-size: 3rem;
        width: 100%;
        line-height: 3rem;
        text-align: center;
        padding: 3rem 0rem;
        
        @include small{
            font-size: 4.5rem;
            line-height: 7rem;
           
        }
        @include medium{
            font-size: 5.5rem;
            line-height: 8rem;
           
          
        }
        
    }
    &--h3 {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        margin-top: 5rem;
    
       @include small{
        font-size: 3rem;
       }
        @include medium {
            font-size: 5rem;
        }
    }
  
    &--h4{
        font-size: 1rem;
       text-align: center;
        
    }
}