@use '../01-settings/' as *;
@use '../02-tools/' as *;


.table {

  font-size: 1rem;
  width:90%;
  overflow-x: scroll;
  background-color: $color2;


  

  @include small {
    width: 100%;
    font-size: 1.4rem;
  }
  
  @include medium {
    width: 90%;
    font-size: 2rem;
    
  }

  
  &--txt-center {
    text-align: center;
    vertical-align: center;

    }

    
    &__hydro{
      width: 100%;
      &--head{
      background-color: $color5;
      }

      &--wisla{
        background-color: $color6;
      }
    }


}