@use '../01-settings/' as *;

.site-gallery {
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6rem;

    &__photo--min {
        max-width: 20rem;
        max-height: 30rem;
        
        margin: 2rem;
        transition: transform 0.3s;
        cursor: pointer;
        overflow: hidden;
       
        &:hover {
            transform: scale(1.2);
        }

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
    }

    &__photo--popup {
        animation: appear 0.3s;
        position: fixed;
        left:0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.502);
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        backdrop-filter: blur(8px);
        z-index: 2;
    
        & img {
            
            max-width: 90%;
            max-height: 90%;
        }
    }

    

}
.popup-disappear{
    animation: disappear 0.3s both;
}