.site-gallery{
    height: 70vh;
    width: 70vw;
    margin: 0 auto 6rem;
    position: relative;
    overflow: hidden;
 
    border-radius: 20%;
    border: 20px solid rgba(128, 128, 128, 0.342);
    
    
}
