@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-section {

    min-height: 80vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $color2;

    &__offer{
        font-size: 1.8rem;

        @include medium{
            font-size: 3.5rem;
            line-height: 5.5rem;
        }
        @include large{
            font-size: 4.0rem;
            line-height: 6rem;
        }
    }
}
