@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-intersection {

    height: 80vh;
    width: 100vw;
    display: flex;
   
    &--offer{
        background: url('../assets/img/port33.JPG') center/cover fixed;
        @include medium{
        background: url('../assets/img/tn_port33.JPG') center/cover fixed;
        }
    }

    &--localization{
        background: url('../assets/img/tn_dron1.jpeg') center/cover fixed;
        @include medium{
            background: url('../assets/img/dron1.jpeg') center/cover fixed;
    
        }
    }
    &--contact{
        background: url('../assets/img/tn_port5b.jpg') center/cover fixed;
        @include medium{
            background: url('../assets/img/port5b.jpg') center/cover fixed;
    
        }
    }
    
}  
    