@use '../01-settings/' as *;
@use '../02-tools/' as *;

p {
    font-family: 'Exo', sans-serif;
    padding: $grid-base;
    margin-top: $grid-base * 1.5;
    font-size: 1rem;
    line-height: 3rem;
    @include medium{
        font-size: 3rem;
        line-height: 5rem;
    }
}
 h2, h3 {
    font-family: 'Exo', sans-serif;

}

table{
    font-family: 'Roboto', sans-serif;
    margin: $grid-base auto;
    
}

table th, table td {
    
    border: 2px groove $color1;
    padding: 3px;
    
   

}
tbody tr:nth-last-of-type(even){
    background-color: rgba(255,255,255, 0.2);
}

